body.builder {

    .fade {
        opacity: 0;
        transition: opacity 2s;
    }

    .sad {
        background-color: red !important;
    }
    .normal {
        background-color: orange !important;
    }
    .happy {
        background-color: blue !important;
    }
    .happier {
        background-color: green !important;
    }

    .canvas {
        text-align: center;

        .initial {
            width: 600px;
            margin: 30px auto 30px auto;
            font-size: 1.2em;

            .scroll {
                margin: 50px auto 0 auto;
                width: 150px;
                text-transform: uppercase;
                padding-bottom: 40px;
                background: url('../img/scroll.png') center bottom no-repeat;
            }
        }

        .switcher {
            background: url('../img/background.png');
            background-repeat: no-repeat;
            background-position: center bottom;

            header {
                h1{
                    width: 352px;
                    height: 168px;
                    text-indent: -9999px;
                    background: url('../img/logo.gif');
                    margin: 10px auto;
                }
            }

            .canvas-body {

                .boxes {

                    width: 100%;

                    padding-top: 100px;
                    float: left;

                    .box {
                        float: left;
                        width: 20%;
                        cursor: pointer;
                        opacity: 0.5;

                        &.active {
                            opacity: 1;
                        }

                        div {
                            width: 75%;
                            margin: 0 auto;
                        }

                        img{
                            max-width: 100%;
                        }

                    }

                }
            }

        }

        .buttons {

            float: left;
            width: 100%;
            height: 140px;

            p.intro {
                font-weight: 900;
                color: #ccc;
                font-size: 2em;
            }

            p.help {
                font-weight: 900;
                color: #ccc;
                margin-bottom: 0;
            }

            .button-box {
                text-align: center;
                width: 340px;
                margin: 0 auto;

                .sound-box {
                    width: 80px;
                    height: 80px;
                    margin: 10px 5px 0 0;
                    display: inline-box;
                    float: left;
                    background-repeat: no-repeat;
                    background-position: 7px 10px;
                    text-indent: -9999px;
                    cursor: move;
                }

                .sad {
                    background-image: url('../img/4.png');
                }
                .normal {
                    background-image: url('../img/3.png');;
                }
                .happy {
                    background-image: url('../img/2.png');;
                }
                .happier {
                    background-image: url('../img/1.png');;
                }

            }

        }


    }

    .player {
        width: 100%;
        background-color: #000;

        padding: 1em 0 3em 0;

        .timeline {
            width: 99%;
            margin: 0 auto;

            .slots {
                .slot-box{
                    width: 20%;
                    float: left;
                    overflow: hidden;

                    .slot {

                        &.drop-active {
                            border: 3px solid #fff;
                        }

                        .clear-slot {
                            display: none;
                            background: transparent;
                            float:right;
                            border: none;
                            font-size: 2.5em;
                            font-weight: 100;
                            color: #fff;
                            outline: none;
                        }


                        &.full {
                            .clear-slot {
                                display: inline;
                            }
                        }


                        height: 60px;
                        background: #ccc;
                        border: 4px solid #333;
                        box-sizing: border-box;
                    }

                    .slot-info {
                        display: none;
                        font-size: .8em;
                        width: 100%;
                        padding: 4px;
                        margin-bottom: 10px;

                        img {
                            margin-right: 4px;
                            width: 60%;
                            float: left;
                        }

                        p {
                            width: 35%;
                            margin: 0;
                            float: left;
                        }

                        a {
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        footer {
            width: 99%;
            margin: 10px auto 0 auto;
            padding: 4px;
            box-sizing: border-box;

            .block {
                float:left;
                width: 33%;
            }

            .background-sounds {
                text-align: center;

                button {
                    margin: 0 5px;
                }
            }

            .last {
                float: right;

                button {
                    background-repeat: no-repeat;
                }

                .preview {
                    background-image: url('../img/listen.png');
                }

                .save {
                    background-image: url('../img/create.png');
                }
            }
        }

        .credits {
            text-align: center;
            margin: 50px auto 60px auto;
            width: 700px;
            color: #ccc;
            font-size: .9em;
            line-height: 170%;

            a {
                color: #eee;
            }

            .social {
                margin-top: 40px;
            }
        }
    }

    .end {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,0.9);

        .close {
            position: absolute;
            top: 20px;
            right: 20px;
            font-weight: 100;
            font-size: 3em;
            cursor: pointer;
        }

        .share {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;

            p {
                font-weight: 700;
                font-size: 2em;
                text-transform: uppercase;
            }

            .icons {
                margin-bottom: 20px;

                a{
                    display: inline-block;
                    width: 87px;
                    height: 87px;
                    text-indent: -9999px;
                    margin: 0 30px;

                    &.twitter {
                        background-image: url('../img/twitter.png');
                    }
                    &.facebook {
                        background-image: url('../img/facebook.png');
                    }
                    &.link {
                        background-image: url('../img/link.png');
                    }
                }
            }

            input {
                font-size: 2em;
                padding: 4px;
                border: 4px solid #000;
            }

        }
    }

}
