body.preview {
    overflow: hidden;
    background: #000;
    width: 100%;
    height: 100%;

    video {
        display: none;
    }

    .video-background {

        video {
            position: fixed;
            right: 0;
            bottom: 0;
            z-index: -1;

            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;

            top: 50%;
            left: 50%;

            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
        }
    }

    footer {
        position: absolute;
        bottom: 0;
        padding: 1em 1em 3em 1em;
        background: #fff;
        width: 100%;

        .video-info {
            width: 99%;

            .info-box {
                width: 20%;
                float: left;


                a {
                    color: #000;
                    text-decoration: none;
                }

                p {
                    margin: 0;
                }
            }
        }

    }


    .create {
        position: absolute;
        right: 5%;
        bottom: 5%;
    }
}