.app {

    .canvas {
        
        text-align: center;
        
        header {
            
        }
        .canvas-body {
            

            .boxes {

                width: 100%;
                float: left;
                background-color: red;

                .box {
                    float: left;
                    width: 20%;
                    height: 200px;
                    background: #eee;
                    margin: 10px;
                    cursor: pointer;
                    
                }

            }
            .buttons {

                float: left;
                width: 100%;

                .button-box {
                    text-align: center;
                    width: 20%;
                }
                
            }

        }

    }

    .player {
        width: 100%;
        background-color: #333;

        .timeline {
            float: left;
            width: 100%;
        }
        footer {
            width: 100%;
            text-align: center;

            .sources {
                float: left;
            }
            .background-sounds {
                
            }
            .action {
                float: right;
            }
        }
    }

}



.drop-active {
    border: 3px solid #999;
}


.slot{
    width: 100px;
    height: 100px;
    background: #ccc;
    float: left;
    margin: 5px;
}

.slot-info {
    display: none;
}

.clear-slot {
    display: none;
}

.slot.full .clear-slot {
    display: inline;
}

.sound-box {
    width: 200px;
    display: inline-box;
    padding: 10px;
}

.sad {
    background-color: red;
}
.normal {
    background-color: orange;
}
.happy {
    background-color: blue;
}
.happier {
    background-color: green;
}

.hidden {
    display: none;
}

button {
    background-color: black;
    padding: 5px;
    color: #fff;
}