<div class="credits">
    <p>
        This demo was built by:

        <a href="https://twitter.com/luandujar" target="_blank">Lucía Andújar</a>,
        <a href="https://twitter.com/docupraxi" target="_blank">Anna Giralt Gris</a>,
        <a href="https://twitter.com/edipotrebol" target="_blank">Pablo Martín</a>,
        <a href="https://twitter.com/belenpicazo" target="_blank">Belén Picazo</a>,
        <a href="https://twitter.com/Lucas_Tello" target="_blank">Lucas Tello</a> and
        <a href="https://twitter.com/bertez" target="_blank">Berto Yáñez</a>

        during the <a href="http://17festival.zemos98.org/Hackcamp-reclaimthecommons" targer="_blank">Hackcamp #reclaimthecommons</a> on the 17zemos98 festival in Seville. All the sounds are from the <a href="http://www.docnextnetwork.org/media-collection/" target="_blank">DocNext Media Collection</a>.
    </p>

    <p><a href="https://github.com/hackcamp-17zemos98/city-symphony" target="_blank">Source code available on github</a></p>

    <div class="social">
        <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-hashtags="17zemos98">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
</div>