<div class="app">
    <section class="canvas clearfix">
        <div class="switcher clearfix">
            <div class="initial">
                <p>Cities are built through the collection of our experiences. They resonate around us. Sound as a common good is present in every situation of our lives. </p>
                <p>Find the sounds of the city and create your own experience. Have fun!</p>

                <div class="scroll">Scroll down</div>
            </div>
            <header>
                <h1>City Symphony</h1>
            </header>
            <article class="canvas-body fade">
                <div class="boxes">

                </div>
            </article>
        </div>
        <footer class="buttons fade">
            <p class="intro">Please choose one of the above themes</p>
            <p class="help hidden">Drag one of these buttons to the boxes below</p>

        </footer>

    </section>

    <section class="player fade clearfix">
        <audio class="audio-preview"></audio>

        <header class="timeline">
            <nav class="slots clearfix">

            </nav>


        </header>

        <footer class="clearfix">
            <div class="block slot-info-toggle">
                <button class="button negative">Toggle info</button>
            </div>

            <div class="block background-sounds">
                <div class="ambients">
                    <audio loop></audio>
                </div>
            </div>

            <div class="last action">
                <button class="button ico preview">Preview</button>
                <button class="button ico save" disabled>Save & Share</button>
            </div>
        </footer>

        <div class="credits">
            <p>
                This demo was built by:

                <a href="https://twitter.com/luandujar" target="_blank">Lucía Andújar</a>,
                <a href="https://twitter.com/docupraxi" target="_blank">Anna Giralt Gris</a>,
                <a href="https://twitter.com/edipotrebol" target="_blank">Pablo Martín</a>,
                <a href="https://twitter.com/belenpicazo" target="_blank">Belén Picazo</a>,
                <a href="https://twitter.com/Lucas_Tello" target="_blank">Lucas Tello</a> and
                <a href="https://twitter.com/bertez" target="_blank">Berto Yáñez</a>

                during the <a href="http://17festival.zemos98.org/Hackcamp-reclaimthecommons" targer="_blank">Hackcamp #reclaimthecommons</a> on the 17zemos98 festival in Seville. All the sounds are from the <a href="http://www.docnextnetwork.org/media-collection/" target="_blank">DocNext Media Collection</a>.
            </p>

            <p><a href="https://github.com/hackcamp-17zemos98/city-symphony" target="_blank">Source code available on github</a></p>

            <div class="social">
                <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-hashtags="17zemos98">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
        </div>

        <div class="end hidden">
            <div class="close">X</div>

            <div class="share">
                <p>Share what you have created</p>
                <div class="icons">
                    <a class="twitter" target="_blank" href="">Twitter</a>
                    <a class="facebook" target="_blank" href="">Facebook</a>
                    <a class="link" target="_blank" href="">Permalink</a>
                </div>
                <input class="url" type="text" value="https://foo.com"></div>
            </div>
        </div>


    </section>


</div>