<div class="app">
    <section class="canvas clearfix">
        <div class="switcher clearfix">
            <div class="initial">
                <p>Cities are built through the collection of our experiences. They resonate around us. Sound as a common good is present in every situation of our lives. </p>
                <p>Find the sounds of the city and create your own experience. Have fun!</p>

                <div class="scroll">Scroll down</div>
            </div>
            <header>
                <h1>City Symphony</h1>
            </header>
            <article class="canvas-body fade">
                <div class="boxes">

                </div>
            </article>
        </div>
        <footer class="buttons fade">
            <p class="intro">Please choose one of the above themes</p>
            <p class="help hidden">Drag any of these buttons to the gray boxes below</p>

        </footer>

    </section>

    <section class="player fade clearfix">
        <audio class="audio-preview"></audio>

        <header class="timeline">
            <nav class="slots clearfix">

            </nav>


        </header>

        <footer class="clearfix">
            <div class="block slot-info-toggle">
                <button class="button negative">Toggle info</button>
            </div>

            <div class="block background-sounds">
                <div class="ambients">
                    <audio loop></audio>
                </div>
            </div>

            <div class="last action">
                <button class="button ico preview">Preview</button>
                <button class="button ico save" disabled>Save & Share</button>
            </div>
        </footer>

        {{> credits}}

        <div class="end hidden">
            <div class="close">X</div>

            <div class="share">
                <p>Share what you have created</p>
                <div class="icons">
                    <a class="twitter" target="_blank" href="">Twitter</a>
                    <a class="facebook" target="_blank" href="">Facebook</a>
                    <a class="link" target="_blank" href="">Permalink</a>
                </div>
                <input class="url" type="text" value="https://foo.com"></div>
            </div>
        </div>


    </section>


</div>