<div class="app">
    <section class="canvas clearfix">
        <div class="switcher clearfix">
            <header>
                <h1>City Symphony</h1>
            </header>
            <article class="canvas-body">
                <div class="boxes">

                </div>
            </article>
        </div>
        <footer class="buttons">
            <p class="intro">Please choose one of the above themes</p>
            <p class="help hidden">Drag one of these buttons to the boxes below</p>

        </footer>

    </section>

    <section class="player clearfix">
        <audio class="audio-preview"></audio>

        <header class="timeline">
            <nav class="slots clearfix">

            </nav>


        </header>

        <footer class="clearfix">
            <div class="block slot-info-toggle">
                <button class="button negative">Toggle info</button>
            </div>

            <div class="block background-sounds">
                <div class="ambients">
                    <audio loop></audio>
                </div>
            </div>

            <div class="last action">
                <button class="button ico preview">Listen</button>
                <button class="button ico save" disabled>Create</button>
            </div>
        </footer>

        <div class="end hidden">
            <div class="close">X</div>

            <div class="share">
                <p>Share what you have created</p>
                <div class="icons">
                    <a class="twitter" target="_blank" href="">Twitter</a>
                    <a class="facebook" target="_blank" href="">Facebook</a>
                </div>
                <input class="url" type="text" value="https://foo.com"></div>
            </div>
        </div>
    </section>


</div>