<div class="app">
    <section class="canvas">
        <header>
            <h1>City Symphony</h1>
        </header>
        <article class="canvas-body">
            <header class="boxes">

            </header>
            <footer class="buttons">

            </footer>
        </article>
    </section>

    <section class="player">
        <audio class="audio-preview"></audio>

        <header class="timeline">
            <nav class="slots">

            </nav>

            <div class="slot-info-toggle">
                <button>Toggle info</button>
            </div>
        </header>

        <footer>
            <div class="sources">
                Sound sources
            </div>

            <div class="background-sounds">
                <div class="ambients">
                    <audio loop></audio>
                </div>
            </div>

            <div class="action">
                <button class="preview">Listen</button>
                <button class="save" disabled>Create</button>
            </div>
        </footer>
    </section>
</div>