<div class="app">
    <div class="row">
        <div class="canvas">

            <div class="buttons">

            </div>
        </div>
    </div>

    <div class="row">
        <div class="player">

            <div class="slots">

            </div>

            <div class="slots-info">

            </div>

            <div class="background-sounds">
                <div class="ambients">
                    <audio loop></audio>
                </div>
            </div>

            <div class="save">
                <button class="preview">Preview</button>
                <button class="save" disabled>Save & Share</button>
            </div>
        </div>
    </div>
</div>