<div class="app" data-src="{{id}}">
    <section class="canvas">
        <video class="video-background" loop>
        </video>
    </section>

    <audio class="audio-slots"></audio>
    <audio class="audio-ambient"></audio>
</div>